absl-py==1.0.0
actionlib==1.13.2
addict==2.4.0
angles==1.9.13
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
base_local_planner==1.17.1
bleach==4.1.0
cachetools==5.0.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
controller-manager==0.19.5
controller-manager-msgs==0.19.5
cv-bridge==1.16.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.0
defusedxml==0.7.1
deprecation==2.1.0
diagnostic-updater==1.11.0
dynamic-reconfigure==1.7.2
entrypoints==0.4
fonttools==4.28.5
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
google-auth==2.6.2
google-auth-oauthlib==0.4.6
grpcio==1.44.0
idna==3.3
image-geometry==1.16.0
importlib-metadata==4.10.0
importlib-resources==5.6.0
interactive-markers==1.12.0
ipykernel==6.6.0
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.0
jupyter-core==4.9.2
jupyter-packaging==0.11.1
jupyter-server==1.13.1
jupyterlab==3.2.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.12.0
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
laser_geometry==1.6.7
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
message-filters==1.15.14
mistune==0.8.4
moveit-core==1.1.8
moveit_ros_planning_interface==1.1.8
moveit_ros_visualization==1.1.8
nbclassic==0.3.4
nbclient==0.5.13
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.6
numpy==1.22.2
oauthlib==3.1.1
open3d==0.14.1
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
prometheus-client==0.13.1
prompt-toolkit==3.0.29
protobuf==3.20.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
python-qt-binding==0.4.4
pytz==2022.1
PyYAML==6.0
pyzmq==22.3.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
requests==2.27.1
requests-oauthlib==1.3.0
resource_retriever==1.12.7
rosbag==1.15.14
rosboost-cfg==1.15.8
rosclean==1.15.8
rosgraph==1.15.14
roslaunch==1.15.14
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.14
rosmake==1.15.8
rosmaster==1.15.14
rosmsg==1.15.14
rosnode==1.15.14
rosparam==1.15.14
rospy==1.15.14
rosservice==1.15.14
rostest==1.15.14
rostopic==1.15.14
rosunit==1.15.8
roswtf==1.15.14
rqt-reconfigure==0.5.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_console==0.4.11
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.2
rqt_gui_py==0.5.2
rqt_image_view==0.4.16
rqt_launch==0.4.9
rqt_logger_level==0.4.11
rqt_msg==0.4.10
rqt_plot==0.4.13
rqt_publisher==0.4.10
rqt_py_common==0.5.2
rqt_py_console==0.4.10
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rsa==4.8
rviz==1.14.14
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
sensor-msgs==1.13.1
six==1.16.0
smach==2.5.0
smclib==1.8.6
sniffio==1.2.0
srdfdom==0.6.3
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.5.0
tf==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
tf2-sensor-msgs==0.7.5
threadpoolctl==3.1.0
tomlkit==0.8.0
topic-tools==1.15.14
torch==1.8.2+cpu
torchvision==0.9.2+cpu
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.1.1
urdfdom-py==0.4.6
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.1.1
widgetsnbextension==3.5.2
xacro==1.14.13
zipp==3.7.0
